/* product images size */
.image-preview {
    margin: 10px 0;
}

.image-preview img {
    width: 150px;
    height: 200px;
    object-fit: contain;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}